body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  background: url('https://i.ibb.co/1sQXJ4z/page-bg.png') no-repeat center
    center/cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
